.fraction-blocks {
    width: 200px;
    background: rgba(235, 245, 251, 0.4);
    border: 1px solid #3498db;
    position: absolute;
    left: 164px;
    top: 12px;
    border-radius: 5px;
    padding: 10px;
}

math {
    font-family: inherit;
    font-size: x-large;
}